/* --------------------------------------- *
* Header                               *
* ---------------------------------------- */
.name-text {
    h1,
    span.h1{
        font-size: 90px;
        line-height: 90px;
        letter-spacing: -5px;
        margin-top:5px;
    }
}
.site-title {
    a{
        &:hover,
        &:focus{
            text-decoration:none;
        }
    }
}
