/* --------------------------------------- *
* Typography                               *
* ---------------------------------------- */
h6, .h6,
h6, .h6,
h6, .h6,
h6, .h6,
h6, .h6,
h6, .h6 {
    letter-spacing: 0.3px;
}

.hero-p {
    .font-family_2();
    font-size: 30px;
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
}
.meta{
    .entry-meta{
        color:#666;
        font-style:italic;
    }
}
.page-title{
    letter-spacing:-1px;
}
