// Widgets
// --------------------------------------------------
.widget {

    ul, ol {
        list-style: none;
        padding-left: 0;

        li{
            a{
                transition: margin 0.5s ease-in-out;
                &:before{
                    content: '\2192 \0020';
                }
                &:hover{
                    margin-left: 10px;
                    text-decoration: none;
                }
            }
        }
    }

    .widget-title {
        margin-top: 3px;
        margin-bottom: 15px;
    }

    #recentcomments{
        li {
            padding: 5px 0;
            line-height: 24px;
        }
    }
}

.widget_recent_entries{
    li {
        padding: 5px 0;
        line-height: 20px;
    }
}
