// Widgets
// --------------------------------------------------
.widget {

    ul, ol {
        list-style: none;
        padding-left: 0;

        li{
            &:before{
                content: '\2192 \0020';
            }
        }
    }

    .widget-title {
        margin-top: 3px;
        margin-bottom: 15px;
    }

    #recentcomments,
    #recentposts {
        font-size: 1em;

        li {
            padding: 5px 0;
            line-height: 24px;

            &:before {
                content: '\2192 \0020';
            }
        }
    }
}
