/* --------------------------------------- *
* Header                               *
* ---------------------------------------- */
header {
	.navbar {
		.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.name-text {
    h1,
    span.h1 {
        font-size: 90px;
        line-height: 90px;
        letter-spacing: -5px;
        margin-top:5px;
		&.long-title {
			font-size: 40px;
			line-height: 40px;
			letter-spacing: -2px;
		}
    }
}
.site-title {
    a{
        &:hover,
        &:focus{
            text-decoration:none;
        }
    }
}

// if we're logged in and have an admin bar showing add some extra padding.
.logged-in.admin-bar {
	#main_navbar.fixed-top {
		padding-top: 40px;
	}
}

img#brand-img {
		width: 30px;
		height: 30px;
		max-width: inherit;
}
