// Homepage Styles
// --------------------------------------------------
.blog-three-up{
    .entry-title{
        font-size:20px;
		margin-top:0.5rem;
    }
    footer{
        @include font-family_2();
        font-size:14px;
    }
}
