// mixins
// --------------------------------------------------

@mixin responsive-image(){
    max-width: 100%;
    height: auto;
}
@mixin font-family_2(){
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
}
@mixin wrapper-shadow(){
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
@mixin remove-row-margins(){
    margin-left:0;
    margin-right:0;
}

// Duped from bootstrap scss files
@import "bootstrap/mixins";
