.pager {
	padding:10px 0;
	margin-top: 10px;
	border-top:1px solid $secondaries-vlightGrey;
	border-bottom:1px solid $secondaries-vlightGrey;
	list-style: none;
	display:flex;
	li {
		flex:1;
		&.next{
			text-align: right;
		}
	}
}
