/* --------------------------------------- *
* Typography                               *
* ---------------------------------------- */
h6, .h6,
h6, .h6,
h6, .h6,
h6, .h6,
h6, .h6,
h6, .h6 {
    letter-spacing: 0.3px;
}

.hero-p {
    @include font-family_2();
    font-size: 20px;
    @media (min-width:768px) {
        font-size:24px;
    }
    @media (min-width:992px) {
        font-size:38px;
    }
    @media (min-width:1200px) {
        font-size:30px;
    }
    padding: 0;
    margin: 0;
    display: block;
    text-align: center;
}
.entry-title {
	margin-top: 1rem;
}
.featured-bar-post {
    p, .hero-p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 0;
        @media (min-width:768px) {
            font-size:22px;
        }
    }
}
.meta{
    .entry-meta{
		@include font-family_2();
        font-style: italic;
		font-size: .9rem;
    }
}
.page-title{
    letter-spacing:-1px;
}

.no-content-message {
	font-size: 2em;
	padding: 30px 0;
	.in-loop {
		padding:25px 0 35px;
	}
}

.hr-row-divider {
	clear:both;
}

.not-found-404 {
	h2.title {
		font-size: 3em;
		text-align: center;
		margin: -5px auto 33px;
	}
	ul {
		display: table;
		font-size: 1.5em;
		list-style: none;
		text-align: center;
		margin: 30px auto 35px;
	}
}
.navigation {
	.nav-links {
		&:first-child{
			text-align: left !important;
		}
		display: flex;
		div {
			flex: 2;
		}
		a {
    		font-size: 1.4rem;
		}
		.nav-next {
			text-align: right;
		}
	}
}
