// Widgets
// --------------------------------------------------
.widget {

    ul, ol {
        list-style: none;
        padding-left: 0;

        li{
            padding: 5px 0;
            line-height: 20px;
            a{
                transition: margin 0.5s ease-in-out;
                &:before{
                    content: '\2192 \0020';
                }
                &:hover,
                &:focus{
                    margin-left: 10px;
                    text-decoration: none;
                }
            }
        }
    }

    .widget-title {
        margin-top: 3px;
        margin-bottom: 15px;
        .footer-widget-col &{
            margin-bottom: 10px;
        }
    }

    #recentcomments{
        li {
            padding: 5px 0;
            line-height: 24px;
        }
    }
}

.footer-widget-col{
    .widget{
        margin: 0 5px 30px;
        &:last-child {
            margin-bottom: 5px;
        }
    }
}
